<%
# system_page:
# An HTML/ERB file to produce system information.
# Run "erb infohgen.html.erb" to compile.

# Constants
TITLE=`echo $HOSTNAME`
RIGHT_NOW=`date +"%x %r %Z"`
TIME_STAMP="Updated on #{RIGHT_NOW} by "
%>

<html>
  <head>
    <title><%= TITLE %></title>
  </head>

  <body style=font-family:Helvetica;background-color:black;color:white>

    <h1 style=text-align:center;width:100%><%= TITLE %></h1>
    <p style=text-align:center;width:100%><%= TIME_STAMP %><b style=color:yellow><%= `echo $USER` %></b></p>

    <!-- system info -->
    <h2>Release Info</h2>
    <p>Function not yet implemented</p>

    <!-- uptime -->
    <h2>Uptime</h2>
    <pre>
    <%= `uptime` %>
    </pre>

    <!-- drive space -->
    <h2>Filesystem Space</h2>
    <pre>
    <%= `df` %>
    </pre>

    <% if `id -u`.strip == "0" %>
      <!-- home space -->
      <!-- Only the superuser can get this information -->
      <h2>Home Directory Space by User</h2>
      <pre>
      Bytes Directory
      <%= `du -s /home/* | sort -nr` %>
      </pre>
    <% end %>

  </body>
</html>
